# Coding test TIL

- **Course**: 파이썬 알고리즘 문제풀이 입문
- **Section**: 1. 파이썬 기초 문법
- **Date**: 2025.08.03 ~

---

## 1. 변수와 출력 함수

### 변수명 정하기

1) 영문과 숫자, _ 로 이루어진다
2) 대소문자를 구분한다
3) 숫자로 시작하면 안된다
4) 특수문자를 사용하면 안된다
5) 키워드를 사용하면 안된다

In [3]:
# 대소문자 구분
a = 1
A = 1
_ = 3
print(a, A, _)

1 1 3

In [7]:
# 등호
print(a == 1)

# 대입
a, b, c = 1, 2, 3
print(a, b, c)

# 값 교환
b, c = c, b
print(a, b, c)

True
1 2 3
1 3 2

In [12]:
# 변수 타입 (실수형)
a = 12.1234512345123451234512345
print(a)
print(type(a)) # <class 'float'>

12.123451234512345
<class 'float'>

In [18]:
# 출력
a, b, c = 1, 2, 3
print(a, b, c, sep='')
print(a, b, c, sep=', ')

print(a, b, c, sep='\n')

print(a, end='') # 줄바꿈 제거
print(b, end='')
print(c, end='')

123
1, 2, 3
1
2
3
123

---

#### sep (separator) - 구분자
- 역할: 여러 값들 사이에 들어가는 구분자
- 기본값: 공백 (' ')

#### end - 끝문자
- 역할: 출력 맨 끝에 붙는 문자
- 기본값: 줄바꿈 ('\n')

In [ ]:
# sep와 end 동시 사용
print(1, 2, 3, sep='-', end=' | ')   # 1-2-3 | 
print(4, 5, 6, sep='-', end=' | ')   # 1-2-3 | 4-5-6 | 
print("끝")                           # 1-2-3 | 4-5-6 | 끝

## 2. 변수 입력과 연산자

In [23]:
# 기본 입력
a=input("숫자를 입력하세요: ")
print(a)

123

In [31]:
c, d= input().split()
print(type(c)) # <class 'str'>
print(c+d)

c = int(c)
print(type(c)) # <class 'int'>
print(c)

<class 'str'>
23
2
<class 'int'>
2

In [34]:
a, b = map(int, input().split())
print(type(a)) # <class 'int'>
print(a+b)

<class 'int'>
5

In [36]:
a=4.3
b=5
c=a+b

print(type(c)) # <class 'float'>
print(c) # 다른 타입간 연산시 더 큰 범위로 변경됨

<class 'float'>
9.3

## 3. 조건문 (if 분기문, 다중 if문)

In [ ]:
x = 7

if x == 7: # true일때 내부 문장 실행
    print("Lucky")

Lucky

In [ ]:
x = 15
if x >= 10:
    if x % 2 == 1:
        print("10 이상의 홀수")

y = 9
if y > 0 and y < 10:
    print("10보다 작은 자연수")
    
if 0 < y < 10:
    print("10보다 작은 자연수")

10 이상의 홀수
10보다 작은 자연수
10보다 작은 자연수

In [42]:
a = 10
if x > 0:
    print("positive")
else:
    print("negative")

positive

In [47]:
score =69

if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

F

## 4. 반복문 (for, while, break, continue)

In [66]:
a = range(1, 11)
print(type(a)) # <class 'range'>
print(list(a))

<class 'range'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---

`a = range(10)`이 가능한 이유

- 이때 변수 a에 저장되는 것은 함수가 아닌 range 객체이다.
- 데이터들이 그대로 저장되는 것이 아니라 필요할때 호출되어 메모리 효율적이다.
- 이런 객체들을 'Lazy 객체'라고 한다.

- 객체(Object): 프로그래밍에서 속성(Property)와 기능(Method)를 하나로 묶은 것
- 파이썬의 모든 값은 일급 객체 (완전한 권한을 가진 객체) 이다! => 순수 객체지향 언어
- 모든 값이 객체인 것은 파이썬만의 독특한 특징임

In [ ]:
# 숫자도 객체
number = 42
print(type(number))  # <class 'int'>

# 문자열도 객체
text = "hello"
print(text.upper())  # "HELLO" - 메서드 사용
print(len(text))     # 5 - 속성 접근

# 리스트도 객체
my_list = [1, 2, 3]
my_list.append(4)    # 메서드 사용
print(my_list)       # [1, 2, 3, 4]

# range도 객체
my_range = range(10)
print(type(my_range))  # <class 'range'>

# 정말 모든 것이 객체
print(type(5))          # <class 'int'>
print(type("hello"))    # <class 'str'>
print(type([1,2,3]))    # <class 'list'>
print(type(print))      # <class 'builtin_function_or_method'>
print(type(type))       # <class 'type'>

# 심지어 모듈도 객체
import math
print(type(math))       # <class 'module'>
math.custom = "wow"     # 모듈에도 속성 추가 가능!

In [61]:
for i in range(5):
    print("hello ", end='')
    
print()

for i in range(1, 6): # 5개 출력
    print("hello ", end='')

print()

for i in range(5, 0, -1): # 5 ~ 0 출력
    print(i, end=' ')

hello hello hello hello hello
hello hello hello hello hello
5 4 3 2 1

In [ ]:
i = 1
while i <= 10:
    print(i, end = ' ')
    i += 1

1 2 3 4 5 6 7 8 9 10

In [70]:
i = 0
while True:
    print(i)
    i += 1
    if i == 10:
        break

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1, 11):
    if i % 2 == 1: # 홀수인 경우 skip
        continue
    print(i)
    i += 1

2
4
6
8
10

In [ ]:
for i in range(1, 11):
    print(i, end = ' ')
    if i == 5:
        break
else:
    print(10) # 비정상 종료시 실행 x

print()

for i in range(1, 11):
    print(i, end = ' ')
    if i > 15:
        break
else:
    print("정상 종료")

1 2 3 4 5
1 2 3 4 5 6 7 8 9 10 정상 종료

## 5. 반복문을 이용한 문제 풀이

### 1부터 N까지 홀수만 출력하기

pseudo
```
1. n 입력받기
2. range(1, n+1, 2) 돌리기
```

input: 10

output: 1 3 5 7 9

In [ ]:
# O(n/2) - 더 효율적
n = int(input())
for i in range(1, n+1, 2):
    print(i)
    
# 다른 방법
# O(n) - 모든 수를 체크
for i in range(1, n+1):
    if i % 2 == 1: # 홀수인 경우
        print(i)

1
3
5
7
9

### 1부터 N까지 합 출력하기

pseudo
```
1. n 입력받기
2. n*(1+n)//2 출력
```

input: 10

output: 55

In [ ]:
# O(1) - 수학 공식
n = int(input())
print(n*(1+n)//2)

# 다른 방법
# O(n) - 반복문 사용
sum = 0
for i in range(1, n+1):
    sum += i
print(sum)

55
55

### n의 약수 출력하기

pseudo
```
1. n 입력받기
2. 1부터 n+1까지 n 나눠보고 -> 나머지가 0이면 출력
```
input: 16

output: 1 2 4 8 16

In [62]:
# O(n) - n+1까지 확인
n = int(input())
for i in range(1, n+1):
    if n % i == 0:
        print(i, end = ' ')

print()

# O(√n) - 최적화
import math
n = int(input())
for i in range(1, int(math.sqrt(n)) + 1):  # √n번만 반복
    if n % i == 0:
        print(i, end=' ')
        if i != n // i:  # 중복 제거
            print(n // i, end=' ')

print()
     
# 시도했던 방법 but math.sqrt()가 더 권장됨
n = int(input())
for i in range(1, int(n**0.5) + 1):  # int로 변환
    if n % i == 0:
        print(i, end=' ')
        if i != n // i:
            print(n // i, end=' ')

# 2, 3번은 약수 출력이 뒤섞여 있어서 정렬도 추가해야함!

1 2 4 8 16
1 16 2 8 4
1 16 2 8 4

## 6. 중첩 반복문 (2중 for문)

In [ ]:
for i in range(1, 6): 
    print(i,'번째: ', sep='', end=' ') # 인덱스
    for j in range(1, 6): # 내부
        print(j, end=' ')
    print()

1번째:  1 2 3 4 5
2번째:  1 2 3 4 5
3번째:  1 2 3 4 5
4번째:  1 2 3 4 5
5번째:  1 2 3 4 5

In [20]:
# 별찍기
for i in range(5):
    for j in range(5):
        print("*", end=' ')
    print()

for i in range(1, 6):
    for j in range(i):
        print("*", end=' ')
    print()

for i in range(5):
    for j in range(5-i):
        print("*", end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

## 7. 문자열과 내장함수

In [35]:
msg = "It's Time!"

print(msg.upper())
print(msg.lower())

print(msg) # 원래 저장된 문자는 바뀌지 않는다

IT'S TIME!
it's time!
It's Time!

In [ ]:
tmp = msg.upper()
print(tmp)

print(tmp.find('T')) # 첫 번째로 발견된 인덱스 반환 (없으면 -1)
print(tmp.count('T'))
print(msg[:2]) # 0 ~ 1까지 추출
print(msg[3:6]) # 3 ~ 5까지 추출

print(len(msg)) # 공백 포함 길이

IT'S TIME!
1
2
It
s T
10

In [ ]:
# 문자열에 접근하기 1
for i in range(len(msg)):
    print(msg[i], end=' ')

I t ' s   T i m e !

In [34]:
# 문자열에 접근하기 2
for x in msg:
    print(x, end=' ')

I t ' s   T i m e !

In [ ]:
# 대문자만 출력
for x in msg:
    if x.isupper():
        print(x, end=' ')
print()

# 소문자만 출력
for x in msg:
    if x.islower():
        print(x, end=' ')

I T
t s i m e

In [42]:
# 공백 제거
for x in msg:
    if x.isalpha():
        print(x, end='')

ItsTime

In [ ]:
# 아스키 넘버 변환
tmp = 'az'
for x in tmp:
    print(ord(x)) 

# 문자 변환
tmp = 65
print(chr(tmp))

97
122
A

## 8. 리스트와 내장함수 (1)

리스트란?
- 변수들을 묶어놓은 구조
- `a[0]`, `a[5]` 이런식으로 사용

In [ ]:
a = [1, 2, 3, 4, 5] # 리스트 정의
print(a)
print(a[4]) # 리스트 a의 4번 인덱스 출력

b = list(range(1, 11)) # range로도 초기화 가능
print(b)

print(a+b) # 리스트를 합칠 수 있음

[1, 2, 3, 4, 5]
5
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
c = [1, 2, 3]
c.append(4) # 리스트의 끝에 4 삽입

print(c)

c.insert(2, 7) # 2번 인덱스에 7 삽입
print(c)

c.pop() # 리스트에서 마지막 요소 꺼내기
print(c)

c.pop(2)
print(c)

c.remove(2) # 값 2를 찾아서 제거 (O(n))
print(c)

print(c.index(3)) # 값 3이 위치한 인덱스 반환

[1, 2, 3, 4]
[1, 2, 7, 3, 4]
[1, 2, 7, 3]
[1, 2, 3]
[1, 3]
1

In [ ]:
a = list(range(1, 11))
print(sum(a))
print(min(a))
print(max(a))

55
1
10

In [73]:
print(min(7, 5)) # 인자 중에서 최솟값 찾음
print(max(3, 4, 4, 5, 3))

5
5

In [77]:
import random as r

r.shuffle(a) # 값을 무작위로 섞기
print(a)

[4, 10, 3, 7, 9, 2, 6, 1, 8, 5]

In [ ]:
a.sort() # 오름차순 정렬 (작은 것부터)
print(a)

a.sort(reverse = True) # 내림차순 정렬
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [81]:
a.clear() # 빈 리스트로 만들기
print(a)

[]

---

### Stack (= LIFO) 자료구조 구현

- `append()`와 `pop()`으로 스택 자료구조를 구현할 수 있음

- 다르게 구현할 수도 있지만 사실상 `append()`, `pop()`이 스택 구현의 표준

- 각각 O(1)의 시간복잡도를 가짐

In [ ]:
# 스택 구현
stack = []

# push 연산 (삽입)
stack.append(1)  # [1]
stack.append(2)  # [1, 2]
stack.append(3)  # [1, 2, 3]
print(stack)     # [1, 2, 3]

# pop 연산 (제거)
print(stack.pop())  # 3 (마지막 요소 제거)
print(stack)        # [1, 2]
print(stack.pop())  # 2
print(stack)        # [1]

### Additionaly,

- `append()`와 `pop()`는 원래 동적 배열(Dynamic Array) 관리 목적으로 설계됨

- 그러나 스택의 특성과 일치해서 스택 구현에 자주 사용됨!

### 다른 언어와의 비교 (Java)

In [ ]:
// Java - 명시적인 스택 클래스 제공
Stack<Integer> stack = new Stack<>();
stack.push(1);     // 스택용 메서드
stack.pop();       // 스택용 메서드

// ArrayList는 별도 (동적 배열)
ArrayList<Integer> list = new ArrayList<>();
list.add(1);       // 배열용 메서드
list.remove(list.size()-1);  // 배열용 메서드

## 9. 리스트와 내장함수 (2)

In [ ]:
a = [23, 12, 36, 53, 19]
print(a[:3]) # 0~2까지 슬라이싱
print(a[1:4]) # 1~3까지 슬라이싱

[23, 12, 36]
[12, 36, 53]

In [ ]:
# 리스트 값 접근 1
for i in range(len(a)):
    print(a[i], end=' ')
print()

# 리스트 값 접근 2
for x in a:
    print(x, end=' ')

23 12 36 53 19
23 12 36 53 19

In [ ]:
for x in a: # 리스트에서 홀수만 출력
    if x % 2 == 1:
        print(x, end=' ')

23 53 19

In [89]:
# 인덱스 번호와 요소 함께 튜플 형태로 출력
for x in enumerate(a):
    print(x)

(0, 23)
(1, 12)
(2, 36)
(3, 53)
(4, 19)

In [93]:
# 리스트와 비교
b = (1, 2, 3, 4, 5)
print(b[3])

# b[3] = 7 TypeError

4

In [95]:
# 다른 방식으로 접근
for x in enumerate(a):
    print(x[0], x[1])

0 23
1 12
2 36
3 53
4 19

In [97]:
# 많이 쓰이는 enumerate() 접근
for index, value in enumerate(a):
    print(index, value)

0 23
1 12
2 36
3 53
4 19

In [ ]:
# all() 함수
if all(50 > x for x in a): # 모두 참인가?
    print("YES")
else:
    print("NO")

NO

In [ ]:
# any() 함수
if any(20 < x for x in a): # 하나라도 참인가?
    print("YES")
else:
    print("NO")

YES

---

### Tuple 자료구조

- 리스트와 비슷하지만 변경할 수 없는 (immutable) 자료구조
- 소괄호 () 사용
- 빠르고 메모리 효율적

In [ ]:
# 1. 소괄호 생략 가능
t1 = 1, 2, 3, 4
print(t1)        # (1, 2, 3, 4)
print(type(t1))  # <class 'tuple'>

# 2. 하나의 요소만 있을 때는 콤마 필수
single = (1,)    # 콤마가 있어야 튜플
print(type(single))  # <class 'tuple'>

wrong = (1)      # 콤마가 없으면 그냥 정수
print(type(wrong))   # <class 'int'>

# 3. 빈 튜플
empty = ()
print(empty)     # ()
print(type(empty))  # <class 'tuple'>

## 10. 2차원 리스트 생성과 접근